.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 200px;
    height: 100vh;
    background: var(--blue-lightest);
    border-right: 1px solid var(--blue-light);

    a {
        display: flex;
        padding: 8px 16px;
        color: var(--blue);
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
        text-decoration: none;

        &:hover {
            color: white;
            background: var(--blue);
        }

        &.active {            
            color: white;
            background: var(--blue-light);
        }
    }

    .fill {
        flex: 1;
    }

    .logout {
        button {
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            letter-spacing: 0.5px;
            border: none;
            background: white;
            color: red;
            width: 100%;
            padding: 8px 16px;
            cursor: pointer;

            &:hover {                
                background: red;
                color: white;
            }
        }
    }
}