.percentage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 48px;

    .positive, .negative {
        display: flex;
        justify-content: center;
        align-items: center;    
        height: 100px;

        span {
            font-size: 16px;
            color: white;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
    }

    .positive {
        background: green;
    }
    
    .negative {
        background: red;
    }
}