.login {
    width: 100vw;
    height: 100vh;
    background: var(--blue-lightest);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        border-radius: 4px;
        border: 1px solid var(--blue-dark);
        padding: 36px 16px;
        background: var(--blue);

        .inputGroup {
            display: flex;
            flex-direction: column;

            &:last-of-type {
                align-items: flex-end;
            }

            span {
                color: var(--blue-lightest);
                font-size: 12px;
                line-height: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-bottom: 3px;
            }
            
            input {
                background: var(--blue-dark);
                border: 1px solid var(--blue-darker);
                border-radius: 2px;
                margin-bottom: 8px;
                padding: 8px 16px;
                color: white;
            }

            button {                
                background: var(--blue-lightest);
                border: 1px solid var(--blue-darker);
                border-radius: 2px;
                padding: 8px 16px;
                color: var(--blue-dark);
                font-size: 12px;
                line-height: 14px;
                font-weight: bold;
                letter-spacing: 0.5px;
                width: max-content;
            }
        }
    }

}